<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteRule ^cart.html$ index.php?s=/Home/Cart/index.html

  RewriteCond %{HTTP_REFERER}% !www.tpshop.com
  RewriteRule ^(?!(ueditor))(.*)(jpg|png|gif|jpeg)$ default.png 

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?s=$1 [QSA,PT,L]
</IfModule>